* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Font */
body {
  font-family: 'Roboto', sans-serif;
}

.clearfix::after {
  content: "";
  display: block;
  clear: both;
}

.col-img img, .mountain.left img {
  height: 100%;
  width: 100%;
}

/* Div container */
.container-header {
  height: 550px;
  margin-left: 8%;
}

.container {
  margin: auto;
  width: 80%;
}

.section-1, footer {
  background-color: #D3D3D3;
}

/* Menù di navigazione */

header {
  height: 550px;
  background-color: #0C325A;
  color: #fff;
}

.menu-nav {
  padding-top: 15px;
  margin-bottom: 80px;
}

.menu-nav div {
  float: left;
}

.logo-header {
  margin-right: 70px;
}

header nav {
  margin-top: 14px;
}

.nav-2 {
  margin-left: 130px;
}

header ul li {
  display: inline-block;
  text-transform: uppercase;
  font-size: 12px;
  padding-right: 20px;
}

header a, footer a, .help {
  color: #fff;
  text-decoration: none;
}

/* Bottoni */
#login {
  border: 1px solid #fff;
  padding: 6px 30px;
  border-radius: 5px;
}

.button {
  background-color: #7CBB02;
}

.button.nav {
  padding: 8px 20px;
  border-radius: 5px;
}

.hero .button, footer .button, .help {
  text-transform: uppercase;
  font-size: 12px;
  padding: 15px 20px;
  border-radius: 5px;
}

/* Hero */
.hero {
  height: 413px;
  position: relative;
  background-image: url(../img/background-header.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position-x: 112%;
}

.hero-text {
  position: absolute;
  top: 20%;
  width: 40%;
}

.hero-text h1 {
  margin-bottom: 35px;
  font-weight: 500;
  font-size: 50px;
}

/* Main */
.section-1 {
  text-align: center;
  padding: 2%;
}

.section-1 h2 {
  font-weight: 500;
}

.section-1 p {
  margin-top: 9px;
}

p, .footer-right, .footer-right select  {
  color: #939393;
}

/* Tre colonne */

.col {
  width: 33%;
  float: left;
  text-align: center;
  padding-right: 2%;
  margin: 30px 0;
}

.col-img {
  height: 115px;
}


.col h2 {
  color: #7CBB02;
  font-weight: 500;
  font-size: 26px;
}

.col hr {
  margin: auto;
  width: 20%;
}

.col h2, .col p {
  margin: 15px;
}

.col p {
  font-size: 14px;
}

hr {
  width: 98%;
  margin: auto;
}

/* Section montagna */

.mountain, .footer-left, .footer-right {
  float: left;
}

.mountain {
  margin: 30px 0;
  width: 50%;
}

.mountain.left {
  height: 350px;
}

.mountain.right * {
  margin: 10px 0;
}

.mountain.right h2, .mountain.right p {
  width: 70%;
}

.mountain.right h2, footer h2 {
  font-size: 29px;
}

.mountain.right p {
  font-size: 14px;
  font-weight: 500;
}

.mountain.right a {
  font-size: 11px;
  color: #5687BD;
}

/* Footer */
footer {
  padding: 45px;
}

.footer-left, .footer-right {
  width: 45%;
}

.footer-right {
  margin-left: 9%;
  margin-top: 1%;
}

.footer-right select {
  background-color: transparent;
  border: 0;
  border-bottom: 1px solid #939393;
  font-size: 16px;
  width: 130px;
}

.footer-right * {
  margin-left: 20px;
}


.help {
  position: fixed;
  bottom: 0;
  right: 15%;
}
